@model UserInfo
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user">
    </i> @Model.Name <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Create New Ad", "Create", "Services")</li> 
        <li class="divider"></li>   
        <li><a href="#">Dashboard</a></li>      
        <li>@Html.ActionLink("Profile", "Profile", "Accounts")</li>
        <li class="divider"></li>
        <li>@Html.ActionLink("Log Out", "LogOut", "Accounts")</li>
    </ul>
</div>
