@model IEnumerable<AtYourService.Domain.Categories.Category>
<select id="CategoryId" name="CategoryId">
    @foreach (var category in Model)
    {
        <optgroup label="@category.Name">
            @foreach (var subCategory in category.SubCategories) {
            <option value="@subCategory.Id">@subCategory.Name</option>
            }
        </optgroup>
    }
</select>
