@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="span3">
        <div class="well sidebar-nav">
            @Html.Action("Menu", "Categories")
        </div>
        <!--/.well -->
        <blockquote>
            <p>
                Success story 1</p>
            <small>Person 1</small>
        </blockquote>
        <blockquote>
            <p>
                Success story 2</p>
            <small>Person 2</small>
        </blockquote>
    </div>
    <div class="span9">
        <div class="row">
            <div class="span5">
                <div class="well">
                    <h2>
                        Welcome!</h2>
                    <p>
                        We help you find businesses/services that you are looking for near your area. You
                        can also publish your business with us.</p>
                </div>
                <div id="social">
                    <h2>
                        Social network integration area</h2>
                    <ul>
                        <li>Facebook</li><li>Google+</li></ul>
                </div>
            </div>
            <div class="span4">
                @(User.Identity.IsAuthenticated ? Html.Partial("_Actions") : Html.Partial("_Login"))
            </div>
            <!--/span-->
        </div>
        <div class="row">
            <div class="span9" id="map-canvas" style="width: 100%; height: 300px">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var map;
    function initialize() {
        var latlng = new google.maps.LatLng(6.9319444, 79.8877778);
        var options = { zoom: 14, center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById
            ("map-canvas"), options);

        var captured = $('#user-location').attr('data-captured');
        if (captured == 'no') {
            getUserLocation(function (loc) {                
                populateMap(loc);
            });
        }
        else {
            var lat = $('#user-location').attr('data-lat');
            var lng = $('#user-location').attr('data-lng');

            populateMap(new google.maps.LatLng(lat, lng));
        }
    }
    
    $(function () {
        $('.dropdown-toggle').dropdown();
        initialize();
    });

    function populateMap(location) {
        map.setCenter(location);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ServicesNearLocation", "Services")',
            data: { lat: location.lat(), lng: location.lng() },
            success: function (services) {
                $.each(services, function (index, value) {
                    var serviceLatlng = new google.maps.LatLng(value.Lat, value.Lng);

                    var marker = new google.maps.Marker({
                        position: serviceLatlng,
                        animation: google.maps.Animation.DROP,
                        map: map,
                        title: value.Title
                    });
                    marker.set("id", value.Id);

                    attachInfo(marker, value);
                });
            }
        });
    }

    function attachInfo(marker, service) {

        var infowindow = new google.maps.InfoWindow({
            content: formatInfoContent(service)
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(marker.get('map'), marker);
        });
    }    
</script>
