@{
    ViewBag.Title = "Forgot Password Mail Sent";
}

<div class="row">
    <div class="alert alert-success">
        <h2>
            Mail Sent</h2>
        We have sent you the password resent instructions to your email.
    </div>
</div>
