@{
    ViewBag.Title = "Sign Up Success";
}
<div class="row">
    <div class="alert alert-success">
        <h2>
            Thanks</h2>
        Thank you for registering with us. Please verify your email address by following
        the instructions in the mail we sent.
    </div>
</div>
